<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/pcmall">
		</property>
		
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/sonic/pojo/Goods.hbm.xml</value>
				<value>com/sonic/pojo/StuBase.hbm.xml</value>
				<value>com/sonic/pojo/Application.hbm.xml</value>
				<value>com/sonic/pojo/AdminSu.hbm.xml</value>
				<value>com/sonic/pojo/Admin.hbm.xml</value>
				<value>com/sonic/pojo/Creditcategory.hbm.xml</value>
				<value>com/sonic/pojo/Creditactivity.hbm.xml</value>
				<value>com/sonic/pojo/Info.hbm.xml</value></list>
		</property></bean>

	<bean id="genericDaoImp" class="com.sonic.daoImp.GenericDaoImp">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		<!-- 基本信息管理 -->
		
		<bean id="baseInfoServiceImp" class="com.sonic.serviceImp.BaseInfoServiceImp">
			<property name="genericDao" ref="genericDaoImp"></property>
		</bean>	
		<bean id="baseInfoAction" class="com.sonic.action.BaseInfoAction" >
			<property name="userService" ref="baseInfoServiceImp"/>
		</bean>
		
		<!-- 信用活动管理 -->
		
		<bean id="creditActivityServiceImp" class="com.sonic.serviceImp.CreditActivityServiceImp">
			<property name="genericDao" ref="genericDaoImp"></property>
		</bean>	
		<bean id="creditActivityAction" class="com.sonic.action.CreditActivityAction" >
			<property name="creditactivityService" ref="creditActivityServiceImp"/>
		</bean>
		
		<!-- 信用条目管理 -->
		
		<bean id="creditCategoryServiceImp" class="com.sonic.serviceImp.CreditCategoryServiceImp">
			<property name="genericDao" ref="genericDaoImp"></property>
		</bean>	
		<bean id="creditCategoryAction" class="com.sonic.action.CreditCategoryAction" >
			<property name="creditcategoryService" ref="creditCategoryServiceImp"/>
		</bean>
		
		<!-- 通知管理 -->
		
		<bean id="infoServiceImp" class="com.sonic.serviceImp.InfoServiceImpl">
			<property name="genericDao" ref="genericDaoImp"></property>
		</bean>	
		<bean id="infoAction" class="com.sonic.action.InfoAction" >
			<property name="infoService" ref="infoServiceImp"/>
		</bean>
		
		<!-- 物资管理 -->
		
		<bean id="goodsServiceImp" class="com.sonic.serviceImp.GoodsServiceImp">
			<property name="genericDao" ref="genericDaoImp"></property>
		</bean>	
		<bean id="goodsAction" class="com.sonic.action.GoodsAction" >
			<property name="goodsService" ref="goodsServiceImp"/>
		</bean>
		
</beans>